In [1]:
import pandas as pd

In [2]:
df  =  pd.read_csv('data/resultado_sample_chuva_e_dengue-00000-of-00001.csv',sep=';')

In [3]:
df.head()

   CE  2015  01   85.8   175.0
0  CE  2015   3  150.8  1128.0
1  CE  2015   4   55.0   680.0
2  CE  2015   5   16.4   523.0
3  CE  2015   6   39.4   395.0
4  CE  2015   7   38.0   242.0